header{
    .nav-bar{
        display: flex;
        justify-content: flex-end;
        padding: 30px 40px;
        background-color: @main-color;
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            a{
                font-size: 1.5rem;
                text-decoration: none;
                font-family: @main-font;
                color: @white;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}